/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
  html, body {
    margin:0;
    padding:0;
    font-family: "Avenir Next";
    
  }
  .navbar-light .navbar-nav .nav-link {
    color: #000;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    color: #94D0BE;
  }
  .navbar-light .navbar-nav .nav-link:focus {
  color: #94D0BE;
  background-color: transparent;
  }
  
  #about-intro {
    overflow: hidden;
    background: url('../image/bg-yw.png');
    background-size: cover;
    margin-bottom: 3rem;  
    padding: 4rem 0;
  }
  #wyd-logo {
    width: 20px;
    height: 20px;
  }
  #intro {
    top: 4rem;
    padding-bottom: 2rem;
  }
  #intro-container {
    margin-bottom: 2rem;
    margin-left: 1rem;
    display: block;
  }
  #detail-container {
    clear: both;
    
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin:0;
  }
  #dot {
    color: #94D0BE;
  }
  
  .about-detail {
    padding: 2rem;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: #1B2BD5;
    color: #ffffff;
    line-height: 2rem;
    display: block;
  }
  
#skill-right {
  order: 2;
}  
#skill-left {
  order: 1;
}
  
  #about-iintern a, #about-zao a {
    color: #fff;
    text-decoration: line-through;
    text-decoration-color: #94D0BE;
    line-height: 2rem;
    font-weight: 700;  
  }
  
  #about-iintern a:hover, #about-zao a:hover {
    color: #94D0BE;
    text-decoration: none;
    line-height: 2rem;
    font-weight: 700;  
  }
  
  .row {
    padding: 0;
    margin: 1rem 0;
  }
  #skills-container {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .skill-set {
    font-size: 0.8rem;
    font-weight: 500;
    float: right;
    clear: right;
    margin-right: 2rem;
    color: #1B2BD5;
  }
  #sp-img {
    margin-left: 1rem;
  }
  #skill-img {
    float: right;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  #work {
    background-color: #94D0BE;
    padding-bottom: 6rem;
  }
  #work-title {
    margin: 2rem;
    width: 50%;
  }
  
  
  .works-wrap {
    width: 70%;
    height: auto;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #94D0BE;
    border-radius: 50%;
  }
  .works-right {
    float: right;
  }
  .works-wrap .works-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 4rem 2rem;
    visibility: hidden;
  }
  
  .works-wrap img {
    position: relative;
    width: 100%;
    height: auto;
    /* max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; */
  }
  
  /* .works-wrap:hover {
    background: #000000;
  }
  
  .works-wrap:hover .works-overlay {
    visibility: visible;
  }
  
  .works-wrap:hover img {
    opacity: 0.2;
    filter: alpha(opacity=20);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .works-wrap a, .works-wrap p {
    color: #F4CA2C;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  .works-wrap:hover a, .works-wrap:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
   */
  
  #contact {
    background-color: #000;
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
  
  }
  #footer-header {
    width: 50%;
  }
  
  .fa {
    padding: 10px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    margin: 3rem 0.7rem;
    border-radius: 50%;
    color: #94D0BE;
    border: 1px solid #94D0BE;
  }
  
  .fa:hover {
      border-bottom: none;
      color: #fff;
      background-color: #94D0BE;
      text-decoration: none
  }
  
  #footer {
    color: #878787;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 2rem;
  } 
    
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
  html, body {
    margin:0;
    padding:0;
    font-family: "Avenir Next";
    
  }
  .navbar-light .navbar-nav .nav-link {
    color: #000;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    color: #94D0BE;
  }
  .navbar-light .navbar-nav .nav-link:focus {
  color: #94D0BE;
  background-color: transparent;
  }
  
  #about-intro {
    overflow: hidden;
    background: url('../image/bg-yw.png');
    background-size: cover;
    margin-bottom: 3rem;  
    padding: 4rem 0;
  }
  #intro {
    top: 4rem;
    right: 5rem;
    padding-bottom: 2rem;
    float: right;
    padding-right: 3rem;
  }
  #intro-container {
    margin-bottom: 2rem;
    display: block;
  }
  #detail-container {
    clear: both;
    
  }
  h1 {
    font-size: 8rem;
    font-weight: 700;
    margin:0;
  }
  #dot {
    color: #94D0BE;
  }
  
  .about-detail {
    padding: 2rem 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #1B2BD5;
    color: #ffffff;
    line-height: 4rem;
    margin-top: 2rem;
    display: block;
  }
  
  
  
  #about-iintern a, #about-zao a {
    color: #fff;
    text-decoration: line-through;
    text-decoration-color: #94D0BE;
    line-height: 2rem;
    font-weight: 700;  
  }
  
  #about-iintern a:hover, #about-zao a:hover {
    color: #94D0BE;
    text-decoration: none;
    line-height: 2rem;
    font-weight: 700;  
  }
  
  .row {
    padding: 0;
    margin: 0;
  }
  #skills-container {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .skill-set {
    font-size: 1.2rem;
    font-weight: 600;
    float: right;
    clear: right;
    margin-right: 6rem;
    color: #1B2BD5;
  }
  #sp-img {
    margin-left: 6rem;
  }
  #skill-img {
    float: right;
    margin-right: 6rem;
    margin-bottom: 2rem;
  }
  #work {
    background-color: #94D0BE;
    padding-bottom: 6rem;
  }
  #work-title {
    margin: 6rem;
  }
  
  
  .works-wrap {
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #94D0BE;
    border-radius: 50%;
  }
  
  .works-wrap .works-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 4rem 2rem;
    visibility: hidden;
  }
  
  .works-wrap img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .works-wrap:hover {
    background: #000000;
  }
  
  .works-wrap:hover .works-overlay {
    visibility: visible;
  }
  
  .works-wrap:hover img {
    opacity: 0.2;
    filter: alpha(opacity=20);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .works-wrap a, .works-wrap p {
    color: #94D0BE;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  .works-wrap:hover a, .works-wrap:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  
  #contact {
    background-color: #000;
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
  
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 8rem 2rem;
    border-radius: 50%;
    color: #94D0BE;
    border: 1px solid #94D0BE;
  }
  
  .fa:hover {
      border-bottom: none;
      color: #fff;
      background-color: #94D0BE;
      text-decoration: none
  }
  
  #footer {
    color: #878787;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem;
  }  
     
 }

 /* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  html, body {
    margin:0;
    padding:0;
    font-family: "Avenir Next";
    
  }
  .navbar-light .navbar-nav .nav-link {
    color: #000;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    color: #94D0BE;
  }
  .navbar-light .navbar-nav .nav-link:focus {
  color: #94D0BE;
  background-color: transparent;
  }
  
  #about-intro {
    overflow: hidden;
    background: url('../image/bg-yw.png');
    background-size: cover;
    margin-bottom: 3rem;  
    padding: 4rem 0;
  }
  #intro {
    top: 4rem;
    right: 5rem;
    padding-bottom: 2rem;
    float: right;
    padding-right: 6rem;
  }
  #intro-container {
    margin-bottom: 2rem;
    display: block;
  }
  #detail-container {
    clear: both;
    
  }
  h1 {
    font-size: 8rem;
    font-weight: 700;
    margin:0;
  }
  #dot {
    color: #94D0BE;
  }
  
  .about-detail {
    padding: 2rem 4rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #1B2BD5;
    color: #ffffff;
    line-height: 4rem;
    margin-top: 2rem;
    display: block;
  }
  
  
  
  #about-iintern a, #about-zao a {
    color: #fff;
    text-decoration: line-through;
    text-decoration-color: #94D0BE;
    line-height: 2rem;
    font-weight: 700;  
  }
  
  #about-iintern a:hover, #about-zao a:hover {
    color: #94D0BE;
    text-decoration: none;
    line-height: 2rem;
    font-weight: 700;  
  }
  
  .row {
    padding: 0;
    margin: 0;
  }
  #skills-container {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .skill-set {
    font-size: 1.5rem;
    font-weight: 600;
    float: right;
    clear: right;
    margin-right: 10rem;
    color: #1B2BD5;
  }
  #sp-img {
    margin-left: 6rem;
  }
  #skill-img {
    float: right;
    margin-right: 6rem;
    margin-bottom: 2rem;
  }
  #work {
    background-color: #94D0BE;
    padding-bottom: 6rem;
  }
  #work-title {
    margin: 6rem;
  }
  
  
  .works-wrap {
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #94D0BE;
    border-radius: 50%;
  }
  
  .works-wrap .works-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 7rem 2rem;
    visibility: hidden;
  }
  
  .works-wrap img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .works-wrap:hover {
    background: #000000;
  }
  
  .works-wrap:hover .works-overlay {
    visibility: visible;
  }
  
  .works-wrap:hover img {
    opacity: 0.2;
    filter: alpha(opacity=20);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .works-wrap a, .works-wrap p {
    color: #94D0BE;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    font-size: 1rem;
    font-weight: 600;
  }
  
  .works-wrap:hover a, .works-wrap:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  
  #contact {
    background-color: #000;
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
  
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 8rem 2rem;
    border-radius: 50%;
    color: #94D0BE;
    border: 1px solid #94D0BE;
  }
  
  .fa:hover {
      border-bottom: none;
      color: #fff;
      background-color: #94D0BE;
      text-decoration: none
  }
  
  #footer {
    color: #878787;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem;
  }
      
}

 /* wide Layout: 1280px. */
 @media only screen and (min-width: 1201px) { 
  html, body {
    margin:0;
    padding:0;
    font-family: "Avenir Next";
    
  }
  .navbar-light .navbar-nav .nav-link {
    color: #000;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    color: #94D0BE;
  }
  .navbar-light .navbar-nav .nav-link:focus {
  color: #94D0BE;
  background-color: transparent;
  }
  
  #about-intro {
    overflow: hidden;
    background: url('../image/bg-yw.png');
    background-size: cover;
    margin-bottom: 3rem;  
    padding: 4rem 0;
  }
  #intro {
    top: 4rem;
    right: 5rem;
    padding-bottom: 2rem;
    float: right;
    padding-right: 6rem;
  }
  #intro-container {
    margin-bottom: 2rem;
    display: block;
  }
  #detail-container {
    clear: both;
    
  }
  h1 {
    font-size: 12rem;
    font-weight: 700;
    margin:0;
  }
  #dot {
    color: #94D0BE;
  }
  
  .about-detail {
    padding: 4rem 8rem;
    font-size: 2rem;
    font-weight: 600;
    background-color: #1B2BD5;
    color: #ffffff;
    line-height: 4rem;
    margin-top: 5rem;
    display: block;
  }
  
  
  
  #about-iintern a, #about-zao a {
    color: #fff;
    text-decoration: line-through;
    text-decoration-color: #94D0BE;
    line-height: 2rem;
    font-weight: 700;  
  }
  
  #about-iintern a:hover, #about-zao a:hover {
    color: #94D0BE;
    text-decoration: none;
    line-height: 2rem;
    font-weight: 700;  
  }
  
  .row {
    padding: 0;
    margin: 0;
  }
  #skills-container {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .skill-set {
    font-size: 2.5rem;
    font-weight: 600;
    float: right;
    clear: right;
    margin-right: 10rem;
    color: #1B2BD5;
  }
  #sp-img {
    margin-left: 6rem;
  }
  #skill-img {
    float: right;
    margin-right: 6rem;
    margin-bottom: 2rem;
  }
  #work {
    background-color: #94D0BE;
    padding-bottom: 6rem;
  }
  #work-title {
    margin: 6rem;
  }
  
  
  .works-wrap {
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #94D0BE;
    border-radius: 50%;
  }
  
  .works-wrap .works-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 10rem 2rem;
    visibility: hidden;
  }
  
  .works-wrap img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .works-wrap:hover {
    background: #000000;
  }
  
  .works-wrap:hover .works-overlay {
    visibility: visible;
  }
  
  .works-wrap:hover img {
    opacity: 0.2;
    filter: alpha(opacity=20);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .works-wrap a, .works-wrap p {
    color: #94D0BE;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    font-size: 1.6rem;
    font-weight: 600;
  }
  
  .works-wrap:hover a, .works-wrap:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  
  #contact {
    background-color: #000;
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
  
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 8rem 2rem;
    border-radius: 50%;
    color: #94D0BE;
    border: 1px solid #94D0BE;
  }
  
  .fa:hover {
      border-bottom: none;
      color: #fff;
      background-color: #94D0BE;
      text-decoration: none
  }
  
  #footer {
    color: #878787;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem;
  }
      
}  