@media screen and (max-width: 500px) /* Mobile */
{
  body {
    font-family: "Avenir Next", Sans-serif;
    background-color: #FFFFFF;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
    margin: 0;
  }

  html {
    overflow-x: hidden;
    font-size: 16px;
  }

  .bg-faded {
    background: none;
    float: right;
  }

  .works {
    margin-top: 2rem;
    margin-bottom: 12rem;
    width: 90%;
  }
  .row, .col-sm-6 {
    padding: 0;
  }
  #footer {
    margin: 4rem 0 0 0;
    background: none;
    height: auto;
    border-top: 1px solid #ebebeb;
    position: absolute;
    bottom: 0;
  }
  #list-footer {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  #home-note {
    font-size: 0.6rem;
    font-weight: 300;
    color: #898989;
    padding: 0.5rem 1rem;
    text-align: center;
  }
  #intro {
    width: 90%;
    margin: auto;
    margin-top: 8rem;
  }
  #intro1 {
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
  #intro2, #intro3 {
    font-size: 0.8rem;
    font-weight: 400;
  }
  .wrap {
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .dsp {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    color: #ffffff;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
  }
  .wrap:hover .dsp {
    opacity: 1;
    background: rgba(81,  81,  81,  0.5)
  }
  .img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
  .link1 {
    color: #515151;
    font-style: italic;
    font-weight: 600;
  }
  h1 {
    padding: 2rem 0 0 0;
    font-size: 1.2rem;
  }
  h2 {
    font-size: 0.5rem;
    font-weight: 400;
  }
  h3 {
    font-size: 0.5rem;
    font-weight: 400;
    padding: 1rem;
  }
  .btn-outline-primary {
    color: #fbfbfb;
    border-color: #fbfbfb;
    width: 10rem;
    font-size: 1rem;
  }

  .btn-outline-primary:hover {
    background-color: #fbfbfb;
    border-color: #fbfbfb;
    color: #515151;
  }

  #about-intro {
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
    width: 90%;
  }
  #about-title {
    width: 90%;
    height: auto;
    margin: 3rem 1rem;
  }
  #about-list {
    font-size: 1.2rem;
    margin: 2rem;
  }
}

@media only screen
and (min-width: 501px)
and (max-width: 1024px) and (orientation: portrait) /* Tablet */
{
  body {
    font-family: "Avenir Next", Sans-serif;
    background-color: #FFFFFF;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
    margin: 0;
  }

  html {
    overflow-x: hidden;
    font-size: 16px;
  }

  .bg-faded {
    background: none;
    float: right;
  }

  .works {
    margin-top: 2rem;
    margin-bottom: 8rem;
    width: 90%;
  }
  .row, .col-sm-6 {
    padding: 0;
  }
  #footer {
    margin: 4rem 0 0 4rem;
    background: none;
    height: auto;
    border-top: 1px solid #ebebeb;
    position: absolute;
    bottom: 0;
  }
  #list-footer {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  #home-note {
    font-size: 1rem;
    font-weight: 300;
    color: #898989;
    padding: 0.5rem 1rem;
    text-align: center;
  }
  #intro {
    width: 90%;
    margin: auto;
    margin-top: 8rem;
  }
  #intro1 {
    padding-top: 3rem;
    font-size: 2.5rem;
    font-weight: 600;
  }
  #intro2, #intro3 {
    font-size: 1rem;
    font-weight: 400;
  }
  .wrap {
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .dsp {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    color: #ffffff;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
  }
  .wrap:hover .dsp {
    opacity: 1;
    background: rgba(81,  81,  81,  0.5)
  }
  .img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
  .link1 {
    color: #515151;
    font-style: italic;
    font-weight: 600;
  }
  h1 {
    padding: 2rem 0 1rem 0;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.6rem;
    padding: 1rem 2rem;
  }
  .btn-outline-primary {
    color: #fbfbfb;
    border-color: #fbfbfb;
    width: 10rem;
  }

  .btn-outline-primary:hover {
    background-color: #fbfbfb;
    border-color: #fbfbfb;
    color: #515151;
  }

  #about-intro {
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
    width: 90%;
  }
  #about-title {
    width: 90%;
    height: auto;
    margin: 3rem;
  }
  #about-list {
    font-size: 1.2rem;
    margin: 2rem;
  }
}

@media only screen
and (min-width: 501px)
and (max-width: 1024px) and (orientation: landscape) /* Tablet */
{
  body {
    font-family: "Avenir Next", Sans-serif;
    background-color: #FFFFFF;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
    margin: 0;
  }

  html {
    overflow-x: hidden;
    font-size: 16px;
  }

  .bg-faded {
    background: none;
    float: right;
  }

  .works {
    margin-top: 2rem;
    margin-bottom: 8rem;
    width: 90%;
  }
  .row, .col-sm-6 {
    padding: 0;
  }
  #footer {
    margin: 4rem 0 0 4rem;
    background: none;
    height: auto;
    border-top: 1px solid #ebebeb;
    position: absolute;
    bottom: 0;
  }
  #list-footer {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  #home-note {
    font-size: 1rem;
    font-weight: 300;
    color: #898989;
    padding: 0.5rem 1rem;
    text-align: center;
  }
  #intro {
    width: 90%;
    margin: auto;
    margin-top: 8rem;
  }
  #intro1 {
    padding-top: 3rem;
    font-size: 3rem;
    font-weight: 600;
  }
  #intro2, #intro3 {
    font-size: 1.2rem;
    font-weight: 400;
  }
  .wrap {
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .dsp {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    color: #ffffff;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
  }
  .wrap:hover .dsp {
    opacity: 1;
    background: rgba(81,  81,  81,  0.5)
  }
  .img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
  .link1 {
    color: #515151;
    font-style: italic;
    font-weight: 600;
  }
  h1 {
    padding: 3rem 0 1rem 0;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
    padding: 1rem 2rem 2rem 2rem;
  }
  .btn-outline-primary {
    color: #fbfbfb;
    border-color: #fbfbfb;
    width: 10rem;
  }

  .btn-outline-primary:hover {
    background-color: #fbfbfb;
    border-color: #fbfbfb;
    color: #515151;
  }

  #about-intro {
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
    width: 90%;
  }
  #about-title {
    width: 90%;
    height: auto;
    margin: 3rem;
  }
  #about-list {
    font-size: 1.2rem;
    margin: 2rem;
  }
  #about-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items :center ;
  }
}

@media only screen and (min-width: 1025px)
{
  body {
    font-family: "Avenir Next", Sans-serif;
    background-color: #FFFFFF;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
    margin: 0;
  }

  html {
    overflow-x: hidden;
    font-size: 16px;
  }

  .bg-faded {
    background-color: #FFFFFF;
    float: right;
  }

  .works {
    margin-top: 2rem;
    margin-bottom: 8rem;
    width: 90%;
  }
  .row, .col-sm-6 {
    padding: 0;
  }
  #footer {
    margin: 4rem 0 0 4rem;
    background: none;
    height: auto;
    border-top: 1px solid #ebebeb;
    position: absolute;
    bottom: 0;
  }
  #list-footer {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  #home-note {
    font-size: 1rem;
    font-weight: 300;
    color: #898989;
    padding: 0.5rem 1rem;
    text-align: center;
  }
  #intro {
    width: 90%;
    margin: auto;
    margin-top: 8rem;
  }
  #intro1 {
    padding-top: 3rem;
    font-size: 3.5rem;
    font-weight: 600;
  }
  #intro2, #intro3 {
    font-size: 1.5rem;
    font-weight: 400;
    padding-right: 2rem;
  }
  .wrap {
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .dsp {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    color: #ffffff;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
  }
  .wrap:hover .dsp {
    opacity: 1;
    background: rgba(81,  81,  81,  0.5)
  }
  .img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
  .link1 {
    color: #515151;
    font-style: italic;
    font-weight: 600;
  }
  h1 {
    padding: 5rem 0 2rem 0;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
    padding: 1rem 2rem 2rem 2rem;
  }
  .btn-outline-primary {
    color: #fbfbfb;
    border-color: #fbfbfb;
    width: 10rem;
  }

  .btn-outline-primary:hover {
    background-color: #fbfbfb;
    border-color: #fbfbfb;
    color: #515151;
  }

  #about-intro {
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
    width: 90%;
  }
  #about-title {
    width: 90%;
    height: auto;
    margin: 3rem;
  }
  #about-list {
    font-size: 1.2rem;
    margin: 2rem;
  }
  #about-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items :center ;
  }
}
