@media screen and (max-width: 500px) /* Mobile */ {
  body {
    font-family: "Avenir Next", Sans-serif;
    background-color: #FFFFFF;
    overflow-x: hidden;
  }

  html {
    overflow-x: hidden;
    font-size: 16px;
  }
  .bg-faded {
    background: none;
  }
  #wrapper {
    position: relative;
  }

  #container home-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  #home-introduction {
    top: 10rem;
    background: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #icode {
    color: #33C6D8;
  }
  #idesign {
    color: #FDBF2F;
  }
  #iwrite {
    color: #E52464;
  }
  #title-main {
    width: auto;
    background: none;
    font-size: 2.5rem;
    font-weight: 700;
    color: #4A4A4A;
  }

  .about-title {
    margin-top: 3rem;
    font-weight: 500;
    color: #4A4A4A;
    font-size: 0.8rem;
  }

  .about-content {
    margin: 0.3rem;
    font-size: 0.2rem;
    opacity: 0;
  }

  .btn-outline-primary {
    color: #4A4A4A;
    border-color: #4A4A4A;
    border-width: 0.05rem;
    font-family: "Avenir Next", Sans-serif;
  }

  .btn-outline-primary:hover {
    background-color: #4A4A4A;
    border-color: #4A4A4A;
  }

  #home-note {
    margin-top: 6rem;
    font-size: 0.8rem;
    font-weight: 100;
    color: #898989;
  }

  #icon-img {
    float: left;
    width: 4rem;
    margin: 1rem;
    background: none;
  }

  #contact {
    margin-top: 2rem;
    background-color: #F9EAED;
  }

  #intro {
    margin: 3rem;
    font-size: 1.5rem;
    float: left;
  }

  #footer {
    margin: 3rem 0 0 2rem;
    background: none;
    height: auto;
    border-top: 1px solid #ebebeb;

  }
  #list-footer {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
}
@media only screen
and (min-width: 501px)
and (max-width: 1024px) and (orientation: portrait) /* Tablet */ {
  body {
    font-family: "Avenir Next", Sans-serif;
    background-color: #FFFFFF;
    overflow-x: hidden;
  }

  html {
    overflow-x: hidden;
    font-size: 16px;
  }
  .bg-faded {
    background: none;
    float: right;
  }
  #icode {
    color: #33C6D8;
  }
  #idesign {
    color: #FDBF2F;
  }
  #iwrite {
    color: #E52464;
  }
  #wrapper {
    position: relative;
  }
  #btn-portfolio {
    margin-top: 6rem;
  }
  #container home-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  #home-introduction {
    margin-top: 20rem;
    background: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  #title-main {
    width: auto;
    background: none;
    font-size: 5rem;
    font-weight: 700;
    color: #4A4A4A;
  }

  .about-title {
    margin-top: 2.5rem;
    font-weight: 600;
    color: #4A4A4A;
    font-size: 1.5rem;
  }

  .about-content {
    margin: 2rem;
    font-size: 1rem;
  }

  .btn-outline-primary {
    color: #4A4A4A;
    border-color: #4A4A4A;
    border-width: 0.1rem;
    font-family: "Avenir Next", Sans-serif;
    width: 16rem;
  }

  .btn-outline-primary:hover {
    background-color: #4A4A4A;
    border-color: #4A4A4A;
  }

  #home-note {
    font-size: 1rem;
    font-weight: 300;
    color: #898989;
    padding: 0.5rem 1rem;
    text-align: center;
  }

  #icon-img {
    float: left;
    width: 4rem;
    margin: 1rem;
    background: none;
  }

  #contact {
    margin-top: 2rem;
    background-color: #F9EAED;
  }

  #intro {
    margin: 3rem;
    font-size: 1.5rem;
    float: left;
  }

  #footer {
    margin: 20rem 0 0 2rem;
    background: none;
    height: auto;
    border-top: 1px solid #ebebeb;

  }
  #list-footer {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
}

@media only screen
and (min-width: 501px)
and (max-width: 1024px) and (orientation: landscape) /* Tablet */ {
  body {
    font-family: "Avenir Next", Sans-serif;
    background-color: #FFFFFF;
    overflow-x: hidden;
  }

  html {
    overflow-x: hidden;
    font-size: 16px;
  }
  .bg-faded {
    background: none;
    float: right;
  }
  #icode {
    color: #33C6D8;
  }
  #idesign {
    color: #FDBF2F;
  }
  #iwrite {
    color: #E52464;
  }
  #wrapper {
    position: relative;
  }
  #btn-portfolio {
    margin-top: 3.5rem;
  }
  #container home-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  #about {
    margin: 2rem 2rem 0 2rem;
  }

  #home-introduction {
    margin-top: 10rem;
    background: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  #title-main {
    margin: 0 18rem;
    width: auto;
    background: none;
    font-size: 5rem;
    font-weight: 700;
    color: #4A4A4A;
  }

  .about-title {
    font-weight: 600;
    color: #4A4A4A;
    font-size: 1rem;
  }

  .about-content {
    margin: 1rem 2rem;
    font-size: 0.5rem;
    padding: 0 3rem;
  }

  .btn-outline-primary {
    color: #4A4A4A;
    border-color: #4A4A4A;
    border-width: 0.1rem;
    font-family: "Avenir Next", Sans-serif;
    width: 16rem;
  }

  .btn-outline-primary:hover {
    background-color: #4A4A4A;
    border-color: #4A4A4A;
  }

  #home-note {
    font-size: 1rem;
    font-weight: 300;
    color: #898989;
    padding: 0.5rem 1rem;
    text-align: center;
  }

  #icon-img {
    float: left;
    width: 4rem;
    margin: 1rem;
    background: none;
  }

  #contact {
    margin-top: 2rem;
    background-color: #F9EAED;
  }

  #intro {
    margin: 3rem;
    font-size: 1.5rem;
    float: left;
  }

  #footer {
    margin: 16rem 0 0 2rem;
    background: none;
    height: auto;
    border-top: 1px solid #ebebeb;

  }
  #list-footer {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
}


/* for computer screen*/
@media only screen and (min-width: 1025px) {
  body {
    font-family: "Avenir Next", Sans-serif;
    background-color: #FFFFFF;
    overflow-x: hidden;
  }

  html {
    overflow-x: hidden;
    font-size: 16px;
  }
  .bg-faded {
    background: none;
  }
  #icode {
    color: #33C6D8;
  }
  #idesign {
    color: #FDBF2F;
  }
  #iwrite {
    color: #E52464;
  }
  #wrapper {
    position: relative;
  }
  #btn-portfolio {
    margin-top: 3.5rem;
  }
  #container home-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  #about {
    margin: 2rem 2rem 0 2rem;
  }

  #home-introduction {
    margin-top: 10rem;
    background: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  #title-main {
    margin: 0 18rem;
    width: auto;
    background: none;
    font-size: 5rem;
    font-weight: 700;
    color: #4A4A4A;
  }

  .about-title {
    font-weight: 600;
    color: #4A4A4A;
    font-size: 1rem;
  }

  .about-content {
    margin: 1rem 2rem;
    font-size: 1rem;
    padding: 0 3rem;
  }

  .btn-outline-primary {
    color: #4A4A4A;
    border-color: #4A4A4A;
    border-width: 0.1rem;
    font-family: "Avenir Next", Sans-serif;
    width: 16rem;
  }

  .btn-outline-primary:hover {
    background-color: #4A4A4A;
    border-color: #4A4A4A;
  }

  #home-note {
    font-size: 1rem;
    font-weight: 300;
    color: #898989;
    padding: 0.5rem 1rem;
    text-align: center;
  }


  #icon-img {
    float: left;
    width: 4rem;
    margin: 1rem;
    background: none;
  }

  #contact {
    margin-top: 2rem;
    background-color: #F9EAED;
  }

  #intro {
    margin: 3rem;
    font-size: 1.5rem;
    float: left;
  }

  #footer {
    margin: 7rem 0 0 4rem;
    background: none;
    height: auto;
    border-top: 1px solid #ebebeb;

  }
  #list-footer {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
}
