body {
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

#portfolio {
  margin-top: 4rem;
  padding-top: 6rem;
}

#big-about {
  font-size: 2rem;
}

.navbar {
  margin-bottom: 0;
  box-shadow: 0 0.3rem 1rem 0 rgba(0,0,0,0.50);
  height: 5rem;
  background-color: #25211E;

}
.navbar-brand {
  width: 5.8rem;
  font-size: 5rem;
  font-family: "Edo SZ";
}
.navbar-inverse .navbar-brand {
  color: #A68E4A;
  margin: 0.1rem 0 0 0;
}
.navbar-inverse .navbar-nav>li>a{
  font-size: 1.5rem;
  margin: 0.5rem 0 0 0;
}


img {
    width: 100%;
    height: auto;
    float: left;
}
#firstpf {
    margin-top: 6rem;
}

#about {
  background-color: #EFEFEF;
  display: inline-block;
}
#secpf {
  display: inline-block;
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 40rem;

}

#contact {
  margin-top: 2rem;
  background-color: #EFEFEF;
}

#intro {
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
  margin: 3rem;
  font-size: 1.5rem;
  float: left;
}

.mytable {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom-color: #F3F2F2;
  border-bottom-style: inset;
  display: table;
  margin-left: 2rem;
  margin-right: 2rem;
}

.mydsp {
  padding-left: 6rem;
  display: table-footer-group;
}

.myimg {
  display: table-header-group;
}

.dsp1 {
  font-size: 3rem;
  color: #25211E;
  font-weight: 300;
}

.dsp2 {
  color: #4A4A4A;
  font-size: 1.5rem;
  font-weight: normal;
}

#aboutlist {
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-size: 1rem;
}

span {
  font-weight: bold;
}
#mysocial {
  display: none;
}
#footer {
  background-color: #25211E;
  width: auto;
  height: 6rem;
}
#pfooter {
  color: #EFEFEF;
  text-align: center;
  padding-top: 2rem;
}

.mycontact {
  margin-top: 4rem;
  margin-left: 4rem;
  margin-bottom: 4rem;
}
#contact-title {
  padding-top: 4rem;
  font-size: 3rem;
}
#thirdpf {
  display: none;
}

#dribbble-social {
  background-color: #d3467d;
  border-color: 	#af2059;
}
#linkedin-social {
  background-color: #0083be;
  border-color: #0083be;
}

/* for computer screen*/
@media only screen and (min-width: 840px) {
    html, body {
      overflow-x: hidden;
    }
    #thirdpf {
      display: inline;
    }
    #portfolio {
      margin-top: 6rem;
      padding-top: 10rem;
    }
    #big-about {
      font-size: 4rem;
    }
    #firstpf {
        margin-top: 0;
    }
    #aboutlist {
      float: left;
      font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
      font-size: 2rem;
    }
    #about {
      background-color: #EFEFEF;
      display: inline-block;
    }
    #secpf {
      display: inline-block;
      margin-top: 7rem;
      margin-bottom: 7rem;
      width: 40rem;
      float: left;
    }
    #mysocial {
      padding-left: 4rem;
      margin-top: 1rem;
      display: block;
      float: right;
    }
    #intro {
      font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
      margin-top: 10rem;
      margin-right: 5rem;
      margin-bottom: 8rem;
      font-size: 2rem;
    }
    .mytable {
      padding-top: 2rem;
      padding-bottom: 2rem;
      border-bottom-color: #F3F2F2;
      border-bottom-style: inset;
    }
    .mytable:hover{
      background-color: #E5EFF1;
    }
    .mydsp {
      padding-top: 4rem;
      margin-left: 5rem;
    }
    .myimg {
      margin-left: 6rem;
    }

    .dsp1 {
      font-size: 6rem;
      color: #25211E;
      font-weight: 300;
    }

    .dsp2 {
      color: #4A4A4A;
      font-size: 2rem;
      font-weight: normal;
    }
    #contact {
      margin-top: 4rem;
      background-color: #EFEFEF;
    }
    #thirdpf {
      padding-left: 6rem;
      padding-top: 6rem;
      padding-bottom: 2rem;
    }
    #footer {
      width: auto;
      background-color: #25211E;
      height: 6rem;
      width: 100%;

      position: absolute;
    }
    #pfooter {
      color: #EFEFEF;
      text-align: center;
      padding-top: 2rem;
    }
    .btn {
      icon: auto;
    }
    .mycontact {
      margin-top: 4rem;
      margin-left: 4rem;
    }
    #contact-title {
      padding-top: 8rem;
      font-size: 4rem;
    }
    #dribbble-social {
      background-color: #d3467d;
      border-color: 	#af2059;
    }
    #linkedin-social {
      background-color: #0083be;
      border-color: #0083be;
    }

}
