body {
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

#mysocial {
  display: none;
}

.middle {
  margin: auto;
  width: 80%;
}

.navbar {
  margin-bottom: 0;
  height: 5rem;
  border-bottom: none;
  background-color: white;
  font-family: "Edo SZ";
  margin: auto;
}
#icon-img {
  shadow: 0 0 6rem #4A4A4A;
  border-radius: 100rem;
}
.navbar-brand {
  width: 7rem;
  font-size: 5rem;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #92CCE1;
}

.navbar-inverse .navbar-toggle:hover {
  background-color: #8CBDBE;
}

.navbar-inverse .navbar-toggle {
  border-color: #92CCE1;
}

.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a{
  font-size: 2rem;
  margin: 0.5rem 0 0 0;
  color: #92CCE1;
  padding-bottom: -1rem;
}

.navbar-inverse .navbar-nav>.active>a {
  background: none;
  color: #8CBDBE;
  border-bottom: double;
  border-bottom-width: thick;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color: #8CBDBE;
}

/*.navbar {*/
  /*margin-bottom: 0;*/
  /*box-shadow: 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.50);*/
  /*height: 5rem;*/
  /*background-color: #25211E;*/

/*}*/

/*.navbar-brand {*/
  /*font-size: 5rem;*/
  /*font-family: "Edo SZ";*/
/*}*/

/*.navbar-inverse .navbar-nav > li > a {*/
  /*font-size: 1.5rem;*/
  /*margin: 0.5rem 0 0 0;*/
/*}*/

#nav {
  margin-bottom: 8rem;
}

#overview {
  margin: 4rem;
}

.myimg {
  margin-top: 2rem;
}

.dsp1 {
  margin-bottom: 0;
  font-size: 4rem;
  color: #25211E;
  font-weight: 100;
}

.dsp2 {
  padding-bottom: 2rem;
  border-bottom-color: #F3F2F2;
  border-bottom-style: inset;
}

.dsptype {
  margin-top: 0;
  float: left;
  font-size: 1rem;
  color: #9B9B9B;
  font-weight: 200;
}

.dspdate {
  margin-top: 0;
  float: right;
  font-size: 1rem;
  color: #9B9B9B;
  font-weight: 200;
}

.intro {
  float: left;
  clear: left;
  font-size: 1.5rem;
  color: #4A4A4A;
  font-weight: 200;
}


.title {
  margin-top: 6rem;
  font-size: 4rem;
  color: #25211E;
  font-weight: 100;
}

.para {
  font-size: 1.5rem;
  color: #4A4A4A;
  font-weight: 200;
}

#footer {
  background-color: #25211E;
  width: auto;
  height: 6rem;
}
#pfooter {
  color: #EFEFEF;
  text-align: center;
  padding-top: 2rem;
}
span {
  font-weight: 400;
}

@media only screen and (min-width: 850px) {
  html, body {
    overflow-x: hidden;
  }
  .myimg {
    margin-left: 6rem;
    margin-top: 2rem;
  }
  span {
    font-weight: 400;
  }
  #overview {
    width: 80%;
    margin: auto;
  }
  .img-responsive:not(.imgtitle){
    width: 90%;
    margin: auto;
  }

  .navbar {
    margin-bottom: 0;
    height: 5rem;
    border-bottom: none;
    background-color: white;
    font-family: "Edo SZ";
    margin: auto;
  }
  #icon-img {
    shadow: 0 0 6rem #4A4A4A;
    border-radius: 100rem;
  }
  .navbar-brand {
    width: 7rem;
    font-size: 5rem;
  }

  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #92CCE1;
  }

  .navbar-inverse .navbar-toggle:hover {
    background-color: #8CBDBE;
  }

  .navbar-inverse .navbar-toggle {
    border-color: #92CCE1;
  }

  .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
  }

  .navbar-inverse .navbar-nav>li>a{
    font-size: 2rem;
    margin: 0.5rem 0 0 0;
    color: #92CCE1;
    padding-bottom: -1rem;
  }

  .navbar-inverse .navbar-nav>.active>a {
    background: none;
    color: #8CBDBE;
    border-bottom: double;
    border-bottom-width: thick;
  }
  .navbar-inverse .navbar-nav>li>a:hover {
    color: #8CBDBE;
  }

  /*.navbar {*/
    /*margin-bottom: 0;*/
    /*box-shadow: 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.50);*/
    /*height: 5rem;*/
    /*background-color: #25211E;*/
  /*}*/

  /*.navbar-brand {*/
    /*font-size: 5rem;*/
    /*font-family: "Edo SZ";*/
  /*}*/

  /*.navbar-inverse .navbar-brand {*/
    /*color: #A68E4A;*/
    /*margin: 0.1rem 0 0 0;*/
  /*}*/

  /*.navbar-inverse .navbar-nav > li > a {*/
    /*font-size: 1.5rem;*/
    /*margin: 0.5rem 0 0 0;*/
  /*}*/

  #mysocial {
    padding-left: 4rem;
    margin-top: 1rem;
    display: block;
    float: right;
  }

  #nav {
    margin-bottom: 8rem;
  }

  .dsp1 {
    margin-bottom: 0;
    font-size: 7rem;
    color: #25211E;
    font-weight: 100;
  }

  .dsp2 {
    padding-bottom: 2rem;
    border-bottom-color: #F3F2F2;
    border-bottom-style: inset;
  }

  .dsptype {
    margin-top: 0;
    float: left;
    font-size: 2rem;
    color: #9B9B9B;
    font-weight: 200;
  }

  .dspdate {
    margin-top: 0;
    float: right;
    font-size: 2rem;
    color: #9B9B9B;
    font-weight: 200;
  }
  .middle {
    width: 68%;
    margin: auto;
  }
  .single {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
  }

  .intro {
    position: relative;
    font-size: 2rem;
    color: #4A4A4A;
    font-weight: 200;
  }

  .title {
    margin-top: 6rem;
    font-size: 5rem;
    color: #25211E;
    font-weight: 100;
  }

  .proto {
    width: 70%;
  }

  .para {
    font-size: 2rem;
    color: #4A4A4A;
    font-weight: 200;
  }

  #footer {
    width: auto;
    background-color: #25211E;
    height: 6rem;
    width: 100%;

    position: absolute;
  }
  #pfooter {
    color: #EFEFEF;
    text-align: center;
    padding-top: 2rem;
  }
}
